@model Influencers.BusinessLogic.ViewModels.ArticleViewModel
@{
    ViewData["Title"] = "EditThis";
}


<style>
    body {
        font-family: Arial;
        background: #7eedbd;
    }
</style>
<form asp-action="EditThis" method="post">
    <input type="hidden" asp-for="ArticleId" />
    <div class="text-center">
        <h4 class="display-4">Edit article</h4>
    </div>
    <br />
    <div class="row">
        <div class="col-2">
            Title
        </div>
        <div class="col-10">
            <input class="form-control" type="text" value="@Model.Title" asp-for="@Model.Title" required />
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-2">
            Content
        </div>
        <div class="col-10">
            <textarea class="form-control" rows="5" asp-for="@Model.Content" required>@Model.Content</textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            Tags
        </div>
        <div class="col-10">
            <textarea class="form-control" rows="5" asp-for="@Model.Hashtags" required>@Model.Hashtags</textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6"></div>
        <div class="col-2">
            <button type="submit" class="btn btn-dark">Edit</button>
        </div>
    </div>
</form>

