@model List<Influencers.BusinessLogic.ViewModels.ArticleViewModel>
@{
    ViewData["Title"] = "Home Page";
   
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/preview_posts.css">
    <link rel="stylesheet" href="~/css/buttons_posts.css">
    <script>
        var authorsArray = [];
    </script>
    <style>
        .DFD {
            background-color: white;
            border: 2px solid black;
            color: black;
            padding: 5px 20px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 30px 5px;
            cursor: pointer;
            text-decoration: none;
        }

        .Tags {
            background-color: white;
            color: black;
            padding: 5px 5px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 30px 0px;
            cursor: pointer;
            text-decoration: none;
        }
    </style>
</head>
<body>

    <div class="text-center">
        <h3 class="display-4">Welcome</h3>
    </div>

    <div class="row">
        <div class="leftcolumn">
            @foreach (var article in Model)
            {
            <div class="card">
                <center><h3 style="font-size:40px; font-family:'Arial'">@article.Title</h3></center>
                <h5>@article.Date.Value.ToShortDateString() @article.AuthorName</h5>
                <p style="font-size:25px; font-family:'Times New Roman'; color:#827e7e;">@article.Content.Substring(0, @article.Content.Length / 3)...</p>
                @if (article.Hashtags != "") {
                    <div class="row">
                        <div class="Tags">
                            Tags:
                        </div>
 
                        @foreach (var tagName in article.Hashtags.Split(" ")) {

                            string hash = "#";
                            if (tagName != "")
                            {
                               <div class="DFD" style="font-weight: bold">
                                   @hash@tagName        
                                </div>
                            }
                        }

                    </div>
                }
                <div class="row">
                    <div class="col-sm-6">

                        <div class="scoring1">
                            <div class="form-group col-sm-30">
                                <select id="@article.ArticleId" onchange="f(@article.ArticleId)" class="form-control" asp-for="@article.Votes" style="font-size:100%;">
                                    <option value="0"></option>
                                    <option value="-10">🍆-10</option>
                                    <option value="-5">😡-5</option>
                                    <option value="-2">😱-2</option>
                                    <option value="-1">😢-1</option>
                                    <option value="0">🙏0</option>
                                    <option value="1">👽1</option>
                                    <option value="2">😜2</option>
                                    <option value="10">😂10</option>
                                    <option value="50">🚀50</option>
                                    <option value="69">🔥69</option>
                                    <option value="100">❤️100</option>
                                </select>
                            </div>
                        </div>
                        <div class="scoring2">
                            Emotions score: @article.Votes
                        </div>

                    </div>

                    <div class="col-sm-0">
                        <a asp-action="ReadMore" asp-route-id="@article.ArticleId" asp-controller="Home" class="GFG" style="text-decoration : none">Read more</a>
                    </div>

                    <div class="col-sm-0">
                        <a asp-action="EditThis" asp-route-id="@article.ArticleId" asp-controller="Home" class="GFG" style="text-decoration : none">Edit this</a>

                    </div>
                </div>
                <div style="margin-left: 155px; ">
                    <div class="row">
                        <div id="$$@article.ArticleId" style="font-size:150%; display: flex;">

                            <script>
                                authorsArray.push(['@article.AuthorName', '@article.Votes']);

                                var emojis = new Map([['-10', '🍆'], ['-5', '😡'], ['-2', '😱'], ['-1', '😢'],
                                    ['0', '🙏'], ['1', '👽'], ['2', '😜'], ['10', '😂'],
                                                ['50', '🚀'], ['69', '🔥'], ['100', '❤️']]);
                                // show emojis in decreasing order after value from left to right
                                for (const emoji of Array.from(emojis).reverse()) {
                                    if (document.cookie.split(';').some((item) => item.trim().startsWith(emoji[0] + '@article.ArticleId='))) {
                                        //console.log('A intrat!');
                                        var div = document.createElement("div");
                                        div.id = @article.ArticleId + emoji[0]
                                        div.innerHTML = emoji[1];
                                        div.addEventListener('click', function () {                                        
                                            document.cookie = emoji[0] + @article.ArticleId + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                                            undoVote(@article.ArticleId, emoji[0]);
                                        });
                                        document.getElementById("$$@article.ArticleId").appendChild(div)

                                    }   
                                }

                            </script>
    
                        </div>
                    </div>
                </div>
                
                </div>

                }
                <br />
            </div>
        <div class="rightcolumn">
            <div class="card">
                <h2 style="margin-left:40px"><a asp-action="Leaderboard" asp-controller="Home" class="board" style="text-decoration : none">Popular influencers &emsp;🏆</a></h2>
                <div id="top3" style="font-size:140%">
                    
                    <script>
                        // sortez descrescator dupa voturi
                        authorsArray.sort((author1, author2) => parseInt(author2[1]) - parseInt(author1[1]));
                        // creez o mapa din array-ul de authori sa scap de duplicate
                        const authorsMap = new Map(authorsArray);
                        var rank = 1;
                        for (const author of authorsMap) {
                            //console.log([author[0], author[1]])
                             var div = document.createElement("div");
                              div.id = author[0];
                            div.innerHTML = rank + '. ' + author[0] + ' ' + author[1];
                            document.getElementById("top3").appendChild(div)
                            ++rank;
                            if (rank == 4) {
                                break;
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

@section scripts{
    
<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="~/lib/jquery-cookie/jquery.cookie.js"></script>
    <script>

        /*
        //remove junks cookie
        var cookies = $.cookie();
        for(var cookie in cookies) {
            $.removeCookie(cookie);
        }
       */

        function f(articleId) {

            let x = $('#' + articleId).val();
 
            if (typeof $.cookie(x + articleId) === 'undefined') {
                $.cookie(x + articleId, 'orice', { path: '/' });
                $.ajax({
                    type: "POST", // request type here
                    data: JSON.stringify({ articleId: articleId, votes: parseInt(x)}),
                    contentType: "application/json",
                    url: "http://localhost:57090/Home/sendvote",   // url here
                    success: function (data) { // callback here
                        location.reload();
                    }
                });   
            } 
        };

        function undoVote(articleId, score) {           
                
            $.ajax({
                    type: "POST", // request type here
                    data: JSON.stringify({ articleId: articleId, votes: -parseInt(score) }),
                    contentType: "application/json",
                    url: "http://localhost:57090/Home/sendvote",   // url here
                    success: function (data) { // callback here
                        location.reload();
                    }
                });   
        };

        
    </script>
}

