
@model Influencers.BusinessLogic.ViewModels.ArticleViewModel
@{
    ViewData["Title"] = "ReadMore";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/preview_posts.css">
    <link rel="stylesheet" href="~/css/buttons_posts.css">
    <style>
        body {
            font-family: Arial;
            background: #7eedbd;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <center><h3>@Model.Title</h3></center>
                <h5>@Model.Date.Value.ToShortDateString(), @Model.AuthorName</h5>
                <p>@Model.Content</p>
                <div class="col-sm-0">
                    <a asp-action="EditThis" asp-route-id="@Model.ArticleId" asp-controller="Home" class="GFG" style="text-decoration : none">Edit this</a>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

