@model Influencers.BusinessLogic.ViewModels.ArticleViewModel
@{
    ViewData["Title"] = "AddArticle";
}


<style>
    body {
        font-family: Arial;
        background: #7eedbd;
    }
    
.GFG {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 30px;
    cursor: pointer;
    text-decoration: none;
}
</style>
<form asp-action="AddArticle" method="post">
    <input type="hidden" class="form-control" value="@DateTime.Now" asp-for="@Model.Date" />
    <div class="text-center">
        <h4 class="display-4">Adding article</h4>
    </div>
    <br />
    <div class="row">
        <div class="col-2">
            Title
        </div>
        <div class="col-10">
            <input class="form-control" type="text" id="title-container" asp-for="@Model.Title" required />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            Email
        </div>
        <div class="col-10">
            <input class="form-control" type="text" id="email-container" asp-for="@Model.Email" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            Content
        </div>
        <div class="col-10">
            <textarea class="form-control" rows="5" id="content-container" asp-for="@Model.Content" required> </textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            Tags
        </div>
        <div class="col-10">
            <textarea placeholder="insert tags separeted by space" class="form-control"  asp-for="@Model.Hashtags" rows="2" id="content-container" required></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-2">
            <button type="submit" class="btn btn-dark" id="addArticleButton">Add</button>
        </div>
    </div>

</form>

@section scripts{
    <script src="~/lib/jquery-cookie/jquery.cookie.js"></script>
    <script>
        $("#addArticleButton").on("click", function () {
            var contentValue = $("#content-container").val();
            $.cookie("content", `${contentValue}`, {path:"/"});

            var titleValue = $("#title-container").val();
            $.cookie("title", `${titleValue}`, {path:"/"});

          //  var emailValue = $("#email-container").val();
            //$.cookie("email", `${emailValue}`);

            console.log($.cookie("content"));
            console.log($.cookie("title"));
            //console.log($.cookie("email"));

        });
    </script>
}

